:root {
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 3rem;
}

/* =====Reset/norm===== */
*{
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: "kode mono", monospace;
    font-optical-sizing: auto;
}
.site-nav .menu {
    display: flex;
    gap: var(--space-2);
    list-style: none;
    margin: 0;
    padding: 0;
}
